@import "mixins";
.header,
.more1 {
  min-height: 100vh;
}

.more1,
.why {
  .boxFacts {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
  }
}
.rainbowText {
  @include rainbow-text();
}
